[Unit]
Description=Node-RED
After=network.target

[Service]
Type=simple
User={{ username }}
ExecStart=node-red
Restart=always
RestartSec=5
StartLimitIntervalSec=0

[Install]
WantedBy=multi-user.target
